body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.body {
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(to top right, transparent 49.8%, #0c2d48 50%)
      right -1px top 0 /50% 100% no-repeat,
    #4e73df;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal-title {
  color: black;
}

.float-child {
  width: 50%;
  float: left;
  padding: 0px;
}
.float-container {
  padding: 20px;
  width: 110%;
}

.header {
  position: relative;
  left: 0px;
}

.create-button {
  position: absolute;
  right: 2%;
}

.filter-button {
  position: relative;
  left: 1%;
}

tr button.edit {
  display: none;
}

div button.edit {
  display: none;
}

tr:hover button.edit {
  display: initial;
}

div.comment-row:hover button.edit {
  display: initial;
}

.list-group-item {
  text-align: left;
  padding: 5px 5px;
}

th.table-actions {
  width: 9%;
}

tr.table-row {
  height: 60px;
}

.clickable {
  cursor: pointer;
}

div.actions {
  width: 4rem;
}

div.description {
  width: 100%;
}

ul.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-pagination {
  padding: 0rem 2rem;
}

.wrap-text {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

div.info-card {
  width: 60%;
}

div.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  height: 15em;
  width: 100%;
}

div.account-form {
  width: 50%;
}

body {
  min-height: 100vh;
}

hr.form-divider {
  border-top: 1px solid #5a5a5a;
  margin-left: 1rem;
  margin-right: 1rem;
}

div ul li.project-filter-options {
  width: 30%;
}

hr.sidebar-dividers {
  border-top: 1px solid white;
  margin-left: 1rem;
  margin-right: 1rem;
}
