body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal-title {
  color: black;
}

.float-child {
  width: 50%;
  float: left;
  padding: 0px;
}
.float-container {
  padding: 20px;
  width: 110%;
}

.header {
  position: relative;
  left: 0px;
}

.create-button {
  position: absolute;
  right: 2%;
}

.filter-button {
  position: relative;
  left: 1%;
}

tr button.edit {
  display: none;
}

tr:hover button.edit {
  display: initial;
}

.list-group-item {
  text-align: left;
  padding: 5px 5px;
}

th.table-actions {
  width: 9%;
}

tr.table-row {
  height: 60px;
}

.clickable {
  cursor: pointer;
}

div.actions {
  width: 4rem;
}

div.description {
  width: 40rem;
}

ul.no-bullets {
  list-style: none;
}
